<tool-header [headerText]="otherHeaderText"></tool-header>
<color-list [colors]="colors" (deleteColor)="deleteColor($event)"></color-list>
<color-form (submitColor)="addColor($event)" buttonText="Add Color"></color-form>
