<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of cars$ | async">
      <tr *ngIf="car.id !== editCarId" class="view-car-row" [car]="car"
        (editCar)="editCar.emit($event)" (deleteCar)="deleteCar.emit($event)"></tr>
      <tr *ngIf="car.id === editCarId" class="edit-car-row" [car]="car"
        (saveCar)="saveCar.emit($event)" (cancelCar)="cancelCar.emit()"></tr>
    </ng-container>
  </tbody>
</table>