<header>
  <h1>Atoshem Enterprises, Inc.</h1>
</header>
<nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/company/home">Company Home</a></li>
    <li><a routerLink="/company/home/contact">Company Home Contact</a></li>
    <li><a routerLink="/company/about/4">Company About</a></li>
    <li><a routerLink="/company/contact">Company Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  <small>&copy 2018, A Cool Company, Inc.</small>
</footer>




<!-- <color-home></color-home> -->
<!-- <car-home></car-home> -->
<!-- <person-form></person-form> -->
<!-- <typeahead-demo></typeahead-demo> -->