<td>{{car.id}}</td>
<td>{{car.make}}</td>
<td>{{car.model}}</td>
<td>{{car.year}}</td>
<td>{{car.color | colorName}}</td>
<td>{{car.price}}</td>
<td>
  <button type="button" (click)="editCar.emit(car.id)">Edit</button>
  <button type="button" (click)="deleteCar.emit(car.id)">Delete</button>
</td>